{% include 'site/header.html' %}
        <header>
            <!-- place navbar here -->
        </header>
        <main>
            <div class="row align-items-md-stretch">
                <div class="col-md-6">
                    <div
                        class="h-100 p-5"
                    >
                        <h2>Bienvenido</h2>
                        <p>
                            Hello there!
                        </p>
                        <button
                            class="btn btn-primary"
                            type="button"
                        >
                            Example button
                        </button>
                    </div>
                </div>
            </div>
            
        </main>

{% include 'site/footer.html' %}