{% include 'site/header.html' %}

<div class="container">
    <div class="row">
        <div
            class="col-md-3"
        >
            <div class="card">
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlJ00ge20oNq-Q8tHPqOEVcZ4HJPy3PH77hOo1Pj8NjpuaJs00MDft05Q3rn5M4kQ8TCI&usqp=CAU" alt="Title" />
                <div class="card-body">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">Text</p>
                </div>
            </div>
            
        </div>
        <div
            class="col-md-3"
        >
        <div class="card">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlJ00ge20oNq-Q8tHPqOEVcZ4HJPy3PH77hOo1Pj8NjpuaJs00MDft05Q3rn5M4kQ8TCI&usqp=CAU" alt="Title" />
            <div class="card-body">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Text</p>
            </div>
        </div>
        </div>
        <div
            class="col-md-3"
        >
        <div class="card">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlJ00ge20oNq-Q8tHPqOEVcZ4HJPy3PH77hOo1Pj8NjpuaJs00MDft05Q3rn5M4kQ8TCI&usqp=CAU" alt="Title" />
            <div class="card-body">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Text</p>
            </div>
        </div>
        </div>
        <div
            class="col-md-3"
        >
        <div class="card">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlJ00ge20oNq-Q8tHPqOEVcZ4HJPy3PH77hOo1Pj8NjpuaJs00MDft05Q3rn5M4kQ8TCI&usqp=CAU" alt="Title" />
            <div class="card-body">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Text</p>
            </div>
        </div>
        </div>
    </div>
</div>


Seccion de libros



{% include 'site/footer.html' %}