{% include 'admin/header.html' %}

<div class="row align-items-md-stretch">
    <div class="col-md-6">
        <div
            class="h-100 p-5 border rounded-3"
        >
            <h2>Bienvenido <strong>{{ session["usuario"] }}</strong></h2>
            <p>
                Administració del sitio web para todos los módulos
            </p>
            <hr class="my-2">
            <p class="lead">
                <a href="/libros" class="btn btn-primary btn-lg" role="button">
                    Empezar la gestion
                </a>
            </p>
        </div>
    </div>
</div>

{% include 'admin/footer.html' %}